---
import yourinfo from "../../../YOURINFO.json";
---

<div
  class="snap-center w-full h-full flex justify-center items-center flex-col relative sm:p-4 p-2"
>
  {
    yourinfo.map(({ name, bio, icon }) => (
      <>
      <div class="flex flex-col gap-2 items-center justify-center">
        <img src={icon} class="w-24 h-24 rounded-full shadow-white" />
        <h1 class="text-4xl   text-center text-white drop-shadow-lg shadow-white">
          {name}
        </h1>
      </div>
        <p class="text-2xl text-center font-noto text-white">{bio}</p>
      </>
    ))
  }
  <span
    class="fa-solid fa-angles-down fill-orange-500 text-orange-500 w-12 h-12 absolute bottom-10 animate-pulse"
  ></span>
</div>
