---
import works from "../../../WORKS.json";
---
<div class="snap-center w-full h-full sm:p-4 p-2 rounded-3xl overflow-hidden">
    <div class="flex md:flex-col">
        <span
          class="fa-solid fa-user fill-black text-black w-8 h-8 md:w-12 md:h-12 my-2"
        ></span>
        <h2 class="text-4xl font-bold my-2 text-black font-mono">Works2</h2>
      </div>
    <div class="carousel w-full aspect-video rounded-3xl mt-4">
        {
                works.map(({ Title, image, description, link }, index) => (
        <div id={`slide${index+1}`} class="carousel-item relative w-full">
            <img src={image} class="w-full saturate-100" />
            <h2 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl font-bold">{Title}</h2>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href={`#slide${index}`} class="btn btn-circle font-mono"><span class="fa-solid fa-arrow-left w-6 h-6"></span></a> 
                <a href={`#slide${index+2}`} class="btn btn-circle font-mono"><span class="fa-solid fa-arrow-right w-6 h-6"></span></a>
            </div>
            <div>
             <p class="bg-red-500 absolute -bottom-10 left-0 z-50">{description}</p>
             </div>

        </div>

        ))}
      </div>
</div>
