---
import works from "../../../WORKS.json";
---
<div class="snap-center w-full h-full sm:p-4 p-2 rounded-3xl">
    <div class="flex md:flex-col">
        <span
          class="fa-solid fa-user fill-black text-black w-8 h-8 md:w-12 md:h-12 my-2"
        ></span>
        <h2 class="text-4xl  my-2 text-black ">Works</h2>
      </div>
    <div id="scrollContainer" class="mt-4 flex flex-row overflow-x-scroll flex-nowrap gap-2 snap-x snap-mandatory py-2">
        {
                works.map(({ Title, image, description, link }, index) => (
        <div id={`slide${index+1}`} class="w-[70%] h-full flex-shrink-0 bg-gray-200 rounded-3xl p-3 snap-start ">
            <img src={image} class="saturate-100 aspect-square w-[70%] rounded-3xl"/>
            <h3 class="text-2xl ">{Title}</h2>
            <p class="bg-red-500">{description}</p>

        </div>

        ))}
      </div>


      <div class="m-2 flex items-end justify-end gap-2">
        <button class="bg-gray-300 text-white rounded-full p-3" onclick="scroll(-1);">&larr;</button>
        <button class="bg-gray-300 text-white rounded-full p-3" onclick="scroll(1);">&rarr;</button>
      </div>

</div>