# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# 生成されるファイル
src/Links/items-en.json
src/links/items-en.json
src/Links/items-ja.json
src/links/items-ja.json
src/rss/items-en.json
src/who/timeline-ja.json
src/who/summary-ja.json
src/who/summary-en.json
src/who/info-ja.json
src/timeline/items-ja.json
src/timeline/items-en.json
src/links/DICTIONARY.json
src/timeline/DICTIONARY.json
