@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムフォントファミリーを登録し、ブラウザにその場所を知らせます。 */
@font-face {
  font-family: "Mamefont";
  src: url("../../public/fonts/Mamefont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
