---
import info from "../../YOURINFO.json";

import { ChevronsDown } from "lucide-astro";

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const yourinfo = info[lang];
---

<div
  class="snap-center flex justify-center items-center flex-col relative sm:p-4 p-2 max-w-lg"
>
  {
    yourinfo.map(({ name, subname, bio, icon }) => (
      <>
        <div class="flex flex-row gap-2 items-center justify-center">
          <img src={icon} class="w-16 h-16 rounded-full shadow-white" />
          <div class="flex flex-col ml-2">
            <h1 class="text-3xl font-mono tracking-widest text-center text-gray-600 drop-shadow-md ">
              {name}
            </h1>
            <p class="text-xl font-mono tracking-widest text-gray-500 drop-shadow-md ">
              {subname}
            </p>
          </div>
        </div>
        <p class="text-lg text-center font-light mt-4 text-gray-500 ">{bio}</p>
      </>
    ))
  }
</div>
