---
import Menutips from "./parts/Menutips.jsx";
import LanguagePicker from "./parts/Language.jsx";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<div class="fixed bottom-2 right-2 md:bottom-3 md:right-3">
  <LanguagePicker client:load />
</div>
