---
import About from "../components/About.astro";
import Blogs from "../components/Blogs.astro";
import Contact from "../components/Contact.astro";
import Links from "../components/Links.astro";
import Navbar from "../components/Navbar.astro";
import Timeline from "../components/Timeline.astro";
import Who from "../components/Who.astro";
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { slide } from "astro:transitions";

import { SpeedInsights } from "@vercel/speed-insights/next";
---

<head>
  <ViewTransitions />
</head>
<body class="bg-gray-200 h-screen w-screen overflow-x-clip">
  <div class="h-full grid md:grid-cols-2 grid-cols-1">
    <div
      class="flex justify-center items-center min-h-screen h-full w-screen md:w-auto"
      transition:animate={fade({ duration: "0.1s" })}
    >
      <div class="md:p-4 p-2 md:fixed">
        <div id="about">
          <About />
          <Contact />
          <Links slice="3" />
        </div>
      </div>
    </div>

    <div
      class="flex flex-col mx-auto md:max-h-screen max-h-0 max-w-2xl pt-[10%] justify-right items-right"
    >
      <div id="who"><Who /></div>
      <div id="blogs"><Blogs /></div>
      <div id="timeline"><Timeline /></div>
    </div>
  </div>
  <Navbar />
</body>
<style>
  body {
    scroll-behavior: smooth;
  }
</style>
